.tableRows {
  border-top: 1.5px solid rgb(217, 217, 217);
}

.addItemContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.container {
  padding: 32px;
}

.roundedTable {
  margin-top: var(--chakra-space-5);
  padding: var(--chakra-space-3);
  border-width: 1px;
  border-radius: 12px;
  overflow-x: auto;
  background: var(--white, #fff);
}

.resultNavigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 8px;
  align-items: center;
}
