.form_label {
  width: 50px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.name_label {
  width: 50px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-right: -49px;
}
