.ditTitleContainer {
  color: var(--gray-700, #2d3748);
  /* text-3xl/lineHeight-9/font-bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 32px;
}

.tabs {
  margin-top: 24px;
}

.resultNavigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 8px;
  align-items: center;
}
